<div class="container mt-5">
    <h1>Catálogo Empleados</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>ID: {{ listaEmpleados[0]._id}}</p>
            <p>nombre {{listaEmpleados[0].nombre}}</p>
            <p>Edad: {{ listaEmpleados[0].edad }}</p>
            <p>Género: {{ listaEmpleados[0].genero }}</p>
            <p>Salario: {{ listaEmpleados[0].salario }}</p>
            <p>Teléfono: {{ listaEmpleados[0].telefono }}</p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Género</th>
                <th>Salario</th>
                <th>Teléfono</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of listaEmpleados">
                <td>{{ empleado._id }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.edad }}</td>
                <td>{{ empleado.genero }}</td>
                <td>{{ empleado.salario }}</td>
                <td>{{ empleado.telefono }}</td>
                <td>
                    <a [routerLink]="['/actualizarempleado', empleado._id]" class="btn btn-sm btn-success">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <button [routerLink]="['/eliminarempleado', empleado._id]" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container mt-3">
    <button routerLink="/nuevoempleado" class="btn btn-primary">Nuevo Empleado</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
