<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy3v6IVj5me6JLoApg/5D1BA5+6S4Zl5n" crossorigin="anonymous">
    <title>Formulario de Búsqueda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy3v6IVj5me6JLoApg/5D1BA5+6S4Zl5n" crossorigin="anonymous">

</head>
<body>

<div class="container mt-5">
    <h1>Buscar Producto</h1>
    <form class="formulario" action="#">
        <div class="campo">
            <label for="busqueda">Buscar por ID:</label>
            <input type="number" id="busqueda" name="busqueda" required>
        </div>
        <button class="boton" type="submit">Buscar</button>
    </form>
    <br>
    <br>
    <br>
    <h1>Nuevo Producto</h1>
    <form class="formulario" action="#">
        
        <button class="boton bg-success" type="submit">Agregar</button>
        <input type="text">
    </form>
</div>
<br><br><br><br><br><br><br>
<footer class="footer mt-auto py-3">
    <div class="container text-center">
      <p>&copy; 2024 Jonathan Vega | Diseñado con Angular</p>
      <div class="social-icons">
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
       
      </div>
    </div>
  </footer>
  
  

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-b0E2q0tX2lAuzLkXrm5S+EM3qEn1QUBcP8/8AJ5P4+Ua/HKa5F0K8ebasg8FjkF" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy3v6IVj5me6JLoApg/5D1BA5+6S4Zl5n" crossorigin="anonymous"></script>

</body>
</html>
