<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación de Empleado</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="confirm-delete-container">
            <h2>¿Estás seguro de que deseas eliminar este empleado?</h2>
            <button class="btn btn-danger" (click)="eliminarEmpleado(empleadoId)">Eliminar</button>
        </div>
        <button class="btn btn-primary" routerLink="/catalogoempleado">Cancelar</button>
    </div>

    <!-- Bootstrap JS y Popper JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
