<title>Catalogo de Productos</title>
  <div *ngIf="!listaProductos || listaProductos.length === 0">
    <p>No hay productos disponibles.</p>
  </div>
  
  <button routerLink="/productoNuevo">Nuevo Producto</button>

  <div class="container mt-5">
    <h1>Catálogo de Productos</h1>
    <br><br>
</div>
<div class="row">
  <div class="col">
    <p>ID: {{ listaProductos[1]._id }}</p>
    <p>Nombre: {{ listaProductos[0].nombre }}</p>
    <p>Categoría: {{ listaProductos[0].categoria}}</p>
    <p>Marcas ID: {{ listaProductos[0].marcasId }}</p>
    <p>Versión: {{ listaProductos[0].version }}</p>

  </div>
  <div class="col">
    <p>Idiomas: {{ listaProductos[0].idiomas }}</p>
    <p>Jugadores: {{ listaProductos[0].jugadores }}</p>
    <p>Descripción: {{ listaProductos[0].descripcion }}</p>
    <p>Costo: {{ listaProductos[0].costo }}</p>
    <p>Precio: {{ listaProductos[0].precio }}</p>

  </div>
  <div class="col">
    <p>Foto: {{ listaProductos[0].foto }}</p>
    <p>Cantidad Existente: {{ listaProductos[0].cantidadExistente }}</p>

    <p>Estado: {{ listaProductos[0].estado }}</p>
    <p>Origen: {{ listaProductos[0].origen }}</p>
    <p>Prov ID: {{ listaProductos[0].provId }}</p>
  </div>
</div>
<hr> 



<div class="table-responsive">
  

  <table class="table table-striped" >
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Marcas ID</th>
        <th>Versión</th>
        <th>Idiomas</th>
        <th>Jugadores</th>
        <th>Descripción</th>
        <th>Costo</th>
        <th>Precio</th>
        <th>Foto</th>

        <th>Cantidad Existente</th>
        <th>Estado</th>
        <th>Origen</th>
        <th>Prov ID</th>
        <th>Eliminar</th>
        <th>Actualizar</th>
        
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let producto of listaProductos | slice: (page-1)*itemsPerPage : page*itemsPerPage">

        <td>{{ producto._id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.categoria }}</td>
        <td>{{ producto.marcasId }}</td>
        <td>{{ producto.version }}</td>
        <td>{{ producto.idiomas }}</td>
        <td>{{ producto.jugadores }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.costo }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.foto }}</td>
        <td>{{ producto.cantidadExistente }}</td>
        <td>{{ producto.estado }}</td>
        <td>{{ producto.origen }}</td>
        <td>{{ producto.provId }}</td>

        <td>
          <a [routerLink]="['/productoseliminar', producto._id]" class="btn btn-danger">
            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
          </a>
        </td>
        <td>
          <a [routerLink]="['/actualizarproducto', producto._id]" class="btn btn-success">Actualizar</a>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>


<div class="pagination justify-content-center">
  <button class="btn btn-secondary mr-2" (click)="previousPage()">Anterior</button>
  <span class="align-self-center">Página {{ page }} de {{ totalPages }}</span>
  <button class="btn btn-secondary ml-2" (click)="nextPage()">Siguiente</button>
</div>