<title>Nuevo Proovedor </title>
<form [formGroup]="proveeForms" (ngSubmit)="agregarProveedor()">
    <div>
      <label for="provId">ID del Proveedor</label>
      <input type="text" formControlName="provId">
    </div>
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" formControlName="nombre">
    </div>
    <div>
      <label for="direccion">Dirección</label>
      <input type="text" formControlName="direccion">
    </div>
    <div>
      <label for="correoElectronico">Correo Electrónico</label>
      <input type="email" formControlName="correoElectronico">
    </div>
    <div>
      <label for="telefono">Teléfono</label>
      <input type="text" formControlName="telefono">
    </div>
    <button type="submit">Agregar Proveedor</button>
  </form>
  


            <button routerLink="/catalogoProveedor">Cancelar</button>

        <footer class="footer mt-auto py-3">
            <div class="container text-center">
              <p>&copy; 2024 Jonathan Vega | Diseñado con Angular</p>
              <div class="social-icons">
                <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
               
              </div>
            </div>
          </footer>

          