<div>
    <h2>¿Estás seguro de que deseas eliminar esta marca?</h2>
  
    <!-- Puedes agregar más campos según sea necesario -->
    <!-- <p>Nombre: {{ marca.nombre }}</p> -->
    <!-- <p>Segmento de mercado: {{ marca.segmentoMercado }}</p> -->
    <!-- <p>Slogan: {{ marca.slogan }}</p> -->
    <!-- <p>Productos destacados: {{ marca.productosDestacados }}</p> -->
    
    <button (click)="eliminarMarca(marcaId)">Eliminar</button>
  </div>
  <button routerLink="/catalogoMarcas">Cancelar</button>
  
