<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    
    .formulario {
        border: 1px solid #ccc;
        padding: 20px;
        width: 500px;
    }
    
    .campo {
        margin-bottom: 10px;
    }
    
    .campo label {
        display: block;
        margin-bottom: 5px;
    }
    
    .campo input,
    .campo select,
    .campo textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
    }
    
    .campo select {
        height: 30px;
    }
    
    .campo textarea {
        height: 100px;
    }
    
    .boton {
        margin-top: 10px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
</style>
</head>
<body>
    <h1>Nuevo Producto</h1>
<form class="formulario" action="#">
    <div class="campo">
        <label for="_id">ID</label>
        <input type="number" id="_id">
    </div>
    <div class="campo">
        <label for="clave">Clave</label>
        <input type="text" id="clave">
    </div>
    <div class="campo">
        <label for="nombre">Nombre del producto:</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>
    <div class="campo">
        <label for="descripción">Descripción:</label>
        <textarea id="descripción" name="descripción" required></textarea>
    </div>
    <div class="campo">
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria" required>
            <option value="">Seleccionar...</option>
            <option value="1">Niños</option>
            <option value="2">Adultos</option>
            <option value="3">Adultos Mayores</option>
        </select>
    </div>
    <div class="campo">
        <label for="marcasid">MarcasID</label>
        <input type="number" required>
    </div>
    <div class="campo">
        <label for="version">version</label>
        <input type="text" id="version">
    </div>
    <div class="campo">
        <label for="pais_origen">Idiomas:</label>
        <select id="pais_origen" name="pais_origen" required>
            <option value="">Seleccionar...</option>
            <option value="MX">Español</option>
            <option value="ES">Ingles</option>
            <option value="ES">Chino mandarín</option>
            <option value="US">Portugués</option>
            <option value="US">Ruso</option>
            <option value="US">Japonés</option>
            <option value="US">Alemán</option>
            <option value="US">Coreano</option>
            <option value="US">Francés</option>
            <option value="US">Italiano</option>
            <option value="US">Polaco</option>
        </select>
    </div>
    <div class="campo">
        <label for="Jugadores">Jugadores:</label>
        <input type="number" id="Jugadores" name="Jugadores" required>
    </div>
    <div class="campo">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" required>
    </div>
    <div class="campo">
        <label for="costo">Costo:</label>
        <input type="number" id="costo" name="costo" required>
    </div>
    <div class="campo">
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required>
    </div>
    <div class="campo">
        <label for="foto">Foto:</label>
        <input type="file" id="foto" name="foto">
    </div>
    <div class="campo">
        <label for="fecha_adquisicion">Fecha de adquisición:</label>
        <input type="date" id="fecha_adquisicion" name="fecha_adquisicion" required>
    </div>
    <div class="campo">
        <label for="fecha_registro">Fecha de Registro:</label>
        <input type="date" id="fecha_registro" name="fecha_registro" required>
    </div>
    <div class="campo">
        <label for="cantidad_existente">Cantidad Existente:</label>
        <input type="number" id="cantidad_existente" name="cantidad_existente" required>
    </div>
    <div class="campo">
        <label for="estado">Estado:</label>
        <select id="estado" name="estado" required>
            <option value="">Seleccionar...</option>
            <option value="1">Vigente</option>
            <option value="2">Descontinuado</option>
        </select>
    </div>
    <div class="campo">
        <label for="origen">Origen</label>
        <input type="text" id="origen">
    </div>
    <div class="campo">
        <label for="proveedor_id">Proveedor ID:</label>
        <input type="number" id="proveedor_id" name="proveedor_id" required>
    </div>
    <button class="boton" type="submit">Agregar</button>
</form>
<footer class="footer mt-auto py-3">
    <div class="container text-center">
      <p>&copy; 2024 Jonathan Vega | Diseñado con Angular</p>
      <div class="social-icons">
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
       
      </div>
    </div>
  </footer>
</body>
</html>

