<form [formGroup]="productosForms" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="_id">ID:</label>
    <input type="text" class="form-control" formControlName="_id">
  </div>
  <div class="form-group">
    <label for="clave">Clave:</label>
    <input type="text" class="form-control" formControlName="clave">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" formControlName="nombre">
  </div>
  <div class="form-group">
    <label for="categoria">Categoría:</label>
    <input type="text" class="form-control" formControlName="categoria">
  </div>
  <div class="form-group">
    <label for="tipo">Tipo:</label>
    <input type="text" class="form-control" formControlName="tipo">
  </div>
  <div class="form-group">
    <label for="marcasId">Marcas ID:</label>
    <input type="text" class="form-control" formControlName="marcasId">
  </div>
  <div class="form-group">
    <label for="version">Versión:</label>
    <input type="text" class="form-control" formControlName="version">
  </div>
  <div class="form-group">
    <label for="idiomas">Idiomas:</label>
    <input type="text" class="form-control" formControlName="idiomas">
  </div>
  <div class="form-group">
    <label for="jugadores">Jugadores:</label>
    <input type="number" class="form-control" formControlName="jugadores">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input type="text" class="form-control" formControlName="descripcion">
  </div>
  <div class="form-group">
    <label for="costo">Costo:</label>
    <input type="number" class="form-control" formControlName="costo">
  </div>
  <div class="form-group">
    <label for="precio">Precio:</label>
    <input type="number" class="form-control" formControlName="precio">
  </div>
  <div class="form-group">
    <label for="foto">Foto:</label>
    <input type="text" class="form-control" formControlName="foto">
  </div>
  <div class="form-group">
    <label for="fechaAdquisicion">Fecha de Adquisición:</label>
    <input type="text" class="form-control" formControlName="fechaAdquisicion">
  </div>
  <div class="form-group">
    <label for="fecharegistro">Fecha de Registro:</label>
    <input type="text" class="form-control" formControlName="fecharegistro">
  </div>
  <div class="form-group">
    <label for="cantidadExistente">Cantidad Existente:</label>
    <input type="number" class="form-control" formControlName="cantidadExistente">
  </div>
  <div class="form-group">
    <label for="estado">Estado:</label>
    <input type="text" class="form-control" formControlName="estado">
  </div>
  <div class="form-group">
    <label for="origen">Origen:</label>
    <input type="text" class="form-control" formControlName="origen">
  </div>
  <div class="form-group">
    <label for="provId">Prov ID:</label>
    <input type="text" class="form-control" formControlName="provId">
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Actualizar Producto</button>
</form>
