<div class="container mt-5">
    <h1>Catálogo Departamentos</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>ID: {{ listaDepartamentos[0]._id }}</p>
            <p>Nombre: {{ listaDepartamentos[0].nombre }}</p>
            <p>Descripción: {{ listaDepartamentos[0].descripcion }}</p>
            <p>Responsable: {{ listaDepartamentos[0].responsable }}</p>
            <p>Ubicación: {{ listaDepartamentos[0].ubicacion }}</p>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered mt-3">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Responsable</th>
                <th>Ubicación</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let departamento of listaDepartamentos">
                <td>{{ departamento._id }}</td>
                <td>{{ departamento.nombre }}</td>
                <td>{{ departamento.descripcion }}</td>
                <td>{{ departamento.responsable }}</td>
                <td>{{ departamento.ubicacion }}</td>
                <td>
                    <a [routerLink]="['/actualizardepartamentos', departamento._id]" class="btn btn-sm btn-success">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <button [routerLink]="['/eliminardepartamentos', departamento._id]" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <button routerLink="/nuevodepartamentos" class="btn btn-primary">Nuevo departamento</button>
</div>

<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <p>&copy; 2024 Jonathan Vega | Diseñado con Angular</p>
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>
